/* Dark mode colors. */
:root {
	--sl-color-accent-low: #052b24;
	--sl-color-accent: #007b6a;
	--sl-color-accent-high: #acd2c8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff2;
	--sl-color-gray-2: #bac4c8;
	--sl-color-gray-3: #7b8f96;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #2a3b41;
	--sl-color-gray-6: #182a2f;
	--sl-color-black: #121a1c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c1ded7;
	--sl-color-accent: #007967;
	--sl-color-accent-high: #003c32;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;
}



btn {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}