@import '@quasar/extras/material-icons/material-icons.css';
@import '@quasar/extras/fontawesome-v6/fontawesome-v6.css';
@import '@quasar/extras/material-symbols-sharp/material-symbols-sharp.css';
@import '@quasar/extras/material-symbols-outlined/material-symbols-outlined.css';

i.material-icons,
i.material-symbols-outlined,
i.fa,
i.fa-solid,
i.fa-regular {
  vertical-align: middle;
}
