kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

#before-start ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 10;
}

/* Styles for guide badges */

.badge-category{
  padding: 4px 8px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  border: solid 1px;
  color: #2D3E50;
}

.badge-selected{
  padding: 4px 8px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  border: solid 1px;
  color:white;    
  border: solid 1px #2D3E50;
}

#badge-newbie{
    background-color: #B4CE82;    
}

#badge-advanced{
    background-color: #FFC000;    
}

#badge-datasteward{
    background-color: #C21F3A;    
}

#badge-read{
  background-color: #4FB3D9;
}

#badge-walkthrough{
  background-color: #1FC2A7;
}

#badge-tutorial{
  background-color: #2D3E50;
}


/* Column design */

.two-columns {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  gap: 5%;
  grid-template-columns: 70% 35%;
}


.center75percent {
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size:12px;
  font-style: italic;
  margin-bottom: 30px;
}