---

// https://xkonti.tech/blog/astro-mermaid-mdx/

export interface Props {
  title?: string;
}
const { title = "" } = Astro.props;
---
<script>
import mermaid from "mermaid";
// Postpone mermaid initialization
mermaid.initialize({ startOnLoad: false });

function extractMermaidCode() {
  // Find all mermaid components
  const mermaidElements = document.querySelectorAll("figure.expandable-diagram");
  mermaidElements.forEach((element) => {
    // Find the `copy` button for each component
    const copyButton = element.querySelector(".copy button") as HTMLButtonElement;
    // Extract the code from the `data-code` attribute
    let code = copyButton?.dataset.code;
    if (code === undefined) {
      return;
    }
    // Replace the U+007f character with `\n` to simulate new lines
    code = code.replace(/\u007F/g, "\n");
    // Construct the `pre` element for the diagram code
    const preElement = document.createElement("pre");
    preElement.className = "mermaid not-prose";
    preElement.innerHTML = code;
    // Find the diagram content container and override it's content
    const diagramContainer = element.querySelector(".diagram-content");
    diagramContainer?.replaceChild(preElement, diagramContainer?.firstChild as Node);
  });
}

// Wait for the DOM to be fully loaded
document.addEventListener("DOMContentLoaded", async () => {
  extractMermaidCode();
  mermaid.initialize({ 
    startOnLoad: true, 
    theme: "base",
    themeVariables: {
      primaryColor: "#2D3E50",
      tertiaryColor: "#3b5169",
      tertiaryTextColor: "white",
      primaryTextColor: "white",
      lineColor: "#1FC2A7"
    }
  });
});

</script>

<figure class="expandable-diagram">
  <figcaption>{title}</figcaption>

  <div class="diagram-content">Loading diagram...</div>

  <details class="w-full !mt-0 !border-0 !pl-0">
    <summary class="text-right !mb-0">
      <span>Source</span>
    </summary>
    <div class="pl-4 !mt-0 [&_pre]:!rounded-lg">
      <slot />
    </div>
  </details>
</figure>